.home {
    padding-top: 25px;
    text-align:center;
    background-color:black;
  }
  
  .h1-home {
    text-align: center;
  }
  
  .h2-home {
    margin-top: 20px;
  }

  h1, h2, p {
    color: white;
  }
  
  .movie-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .movie-card {
    width: 300px;
    margin-bottom: 20px;
    text-align: center;
    font-size: small;
  }
  
  .movie-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid black;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    text-align: center;
  }

  .movie-card img {
    margin: auto;
    border: 1px;
    border-radius: 5px;
  }

  .movie-wrapper {
    background-color: #1a1a1d;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 10px;
    overflow: hidden;
  }

  .button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 15px;
  }

  .button-wrapper button {
    flex: 1;
    margin: 0 5px;
  }