.addpromotion-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .addpromotion-column-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 34px;
    background-color: black;
  }

  .addpromotion-column-side {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: .9;
	height: 758px;
    background-color: black;
  }
  .addpromotion-column-main {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    background-color: #1a1a1d;
	border-radius: 10px;
	height: 530px;
	width: 440px;
	margin-top: 20px;
  }

  .addpromotion-container {
    margin: 0px;
  }

  input {
    background-color: #1a1a1d;
  }